In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

----------------------
## Question 1
----------------------

In [9]:
hostel_p = .6
day_p = .4
A_hostel_p = .3
A_day_p = .2

p_hostel_given_A = .3 * .6 / (.3 * .6 + .2 * .4)
p_day_given_A = 1 - p_hostel_given_A

print(f"Probablitiy of hostel: {p_hostel_given_A} \nProbability of day-scholar: {p_day_given_A}")

Probablitiy of hostel: 0.6923076923076923
Probability of day-scholar: 0.3076923076923077

In [10]:
p_disease = .01
p_true_positve = .99
p_false_positive = .02

p_disease_given_positive = .01 * .99 / (.01 * .99 + .99 * .02)
p_healthy_given_positive = 1 - p_disease_given_positive

print(f"Probablitiy of having disease: {p_disease_given_positive} \nProbability of not having disease: {p_healthy_given_positive}")

Probablitiy of having disease: 0.3333333333333333
Probability of not having disease: 0.6666666666666667

----------------------
## Question 2
----------------------

In [14]:
df = pd.read_csv('data.csv')
df.head(3)

       age income student     credit computer
0     <=30   high      no       fair       no
1     <=30   high      no  excellent       no
2  31...40   high      no       fair      yes

In [16]:
len(df)

14

In [19]:
len(df[df["income"] == "high"])

4

In [28]:
df.income.value_counts().high

4

In [33]:
def naive(df):
    cols = list(df.columns)
    col_vals = []
    for i in cols[:-1]:
        col_vals.append(input(f"Enter value for {i}: ").lower().strip())
    predict_val = input(f"Enter value of {cols[-1]} to find probability: ").lower().strip()
    predict_col = cols[-1]
    
    total_cnt = len(df)
    filtered_df = df[df[predict_col] == predict_val]
    predict_val_cnt = len(filtered_df)
    P_predict_val = predict_val_cnt / total_cnt
    
    P = 1
    for i in range(len(col_vals)):
        val = col_vals[i]
        P *= filtered_df[cols[i]].value_counts()[val] / total_cnt / P_predict_val
        P /= df[cols[i]].value_counts()[val] / total_cnt
    P *= P_predict_val
    return P

In [38]:
p = naive(df)
classification = p >= .5

print(f"\n\nProbability: {p} \nThis person got computer: {classification}")

Enter value for age: <=30
Enter value for income: medium
Enter value for student: yes
Enter value for credit: fair
Enter value of computer to find probability: yes


Probability: 0.6452674897119342
This person got computer: True

-----------------------
## Question 3
-----------------------

In [84]:
df = pd.read_csv('text.csv')
df.head(3)

                    text         tag
0           A great game      Sports
1  The election was over  Not sports
2       Very clean match      Sports

In [85]:
df['words'] = df['text'].apply(lambda x: x.lower().split())
df

,text,tag,words
0,A great game,Sports,"[a, great, game]"
1,The election was over,Not sports,"[the, election, was, over]"
2,Very clean match,Sports,"[very, clean, match]"
3,A clean but forgettable game,Sports,"[a, clean, but, forgettable, game]"
4,It was a close election,Not sports,"[it, was, a, close, election]"

In [131]:
def lamb(x, lst):
    for word in x['words']:
        lst.append({'word': word, 'tag': x['tag']}) 
    #for word in x['words']:
    #    if word in lst.keys():
    #        lst[word][x['tag'].lower()] += 1
    #    else:
    #        lst[word] = {"sports": 0, "not sports": 0}

    
dct_words = []
df.iloc[:, :].apply(lambda x: lamb(x, dct_words), axis=1)
dct_words

[{'word': 'a', 'tag': 'Sports'},
 {'word': 'great', 'tag': 'Sports'},
 {'word': 'game', 'tag': 'Sports'},
 {'word': 'the', 'tag': 'Not sports'},
 {'word': 'election', 'tag': 'Not sports'},
 {'word': 'was', 'tag': 'Not sports'},
 {'word': 'over', 'tag': 'Not sports'},
 {'word': 'very', 'tag': 'Sports'},
 {'word': 'clean', 'tag': 'Sports'},
 {'word': 'match', 'tag': 'Sports'},
 {'word': 'a', 'tag': 'Sports'},
 {'word': 'clean', 'tag': 'Sports'},
 {'word': 'but', 'tag': 'Sports'},
 {'word': 'forgettable', 'tag': 'Sports'},
 {'word': 'game', 'tag': 'Sports'},
 {'word': 'it', 'tag': 'Not sports'},
 {'word': 'was', 'tag': 'Not sports'},
 {'word': 'a', 'tag': 'Not sports'},
 {'word': 'close', 'tag': 'Not sports'},
 {'word': 'election', 'tag': 'Not sports'}]

In [132]:
df_words = pd.DataFrame(dct_words)
df_words

           word         tag
0             a      Sports
1         great      Sports
2          game      Sports
3           the  Not sports
4      election  Not sports
5           was  Not sports
6          over  Not sports
7          very      Sports
8         clean      Sports
9         match      Sports
10            a      Sports
11        clean      Sports
12          but      Sports
13  forgettable      Sports
14         game      Sports
15           it  Not sports
16          was  Not sports
17            a  Not sports
18        close  Not sports
19     election  Not sports

In [133]:
filtered_df = df_words[df_words['tag'] == "Sports"]
sports_cnt = len(filtered_df)
total_cnt = len(df_words)
sports_cnt

11

In [160]:
lst = df_words['word'].unique()
lst = list(lst)
words_cnt = len(lst)
lst

['a',
 'great',
 'game',
 'the',
 'election',
 'was',
 'over',
 'very',
 'clean',
 'match',
 'but',
 'forgettable',
 'it',
 'close']

In [161]:
filtered_df.word.value_counts()

word
a              2
game           2
clean          2
great          1
very           1
match          1
but            1
forgettable    1
Name: count, dtype: int64

In [162]:
sports_cnt, total_cnt, words_cnt

(11, 20, 14)

In [165]:
# Each unique words's count is appended by 1.

def predict(test_data):
    P = 1
    for word in test_data:
        word = word.lower().strip()
        P *= (len(filtered_df[filtered_df.word == word]) + 1) / (sports_cnt + words_cnt)
        #print((len(filtered_df[filtered_df.word == word]) + 1) / (sports_cnt + words_cnt), P)
        P /= (len(df_words[df_words.word == word]) + 1) / (total_cnt + words_cnt)
        #print(P)
    P *= df.tag.value_counts()['Sports'] / len(df)
    return P

In [166]:
p = predict("A very close game".split())

print(f"Probability of Sports: {p}")
print(f"\nProbability of Not Sports: {1 - p}")

Probability of Sports: 0.7697295359999999

Probability of Not Sports: 0.23027046400000006